# Backend
server/node_modules/
server/.env
server/.env.*

# Frontend
socialMediaFront/node_modules/
socialMediaFront/.env
socialMediaFront/.env.*

# Certificates
socialMediaFront/cert/
server/cert/
server/certs/

# Service account keys
*.pem
*.key
*.crt
*.p12
vibeo-485708-ea6db0cfb272.json

# Build output
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.mp4
*.mkv
*.mov