<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibeo Server</title>
</head>

<body>

    <h1>Welcome to Vibeo Server
    </h1>

    <a href="https://localhost:5173/">
        <button type="button">Visit the app</button>
    </a>
</body>

</html>